#admin-side-menu {
  position: fixed;
  top: 5rem;
  left: -200px;
  width: 200px;
  background-color: white;
  overflow-y: scroll;
  //z-index: 100;
  transition: left 0.3s ease-in-out;
  &.is-active {
    transition: left 0.3s ease-in-out;
    left: 0;
  }

  //@media only screen and (min-width: 1024px){
  //left:0;
  //}
  // or
  @include desktop {
    left:0;
  }

}

.management-area {
  position: relative;
  top: 4rem ;
  left: 200px;
  right: 0;

  @include desktop {
    position: absolute;
    left: 200px;
  }
}

#admin-slideout-button {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}

.flex-container{
  margin: 10px 25px;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}


.menu-list li ul {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-burger {
  border: none;
}

.title.is-admin {
  font-weight: 300;
}

.widget-area {
  min-height: 75px;
  padding: 10px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  &.author-widget {
    .selected-author{
      display: flex;
      align-items: flex-start;
      img {
        float: left;
        border-radius: 25px;
      }
      .author{
        margin: auto 0 auto 10px;
        .subtitle {
          font-weight: 300;
          font-size: 0.8em;
        }
      }
    }
  }

   &.post-status-widget {
     .status {
       display:flex;
       align-content: flex-start;
       .status-icon {
       min-width: 50px;
         margin-left: 10px;
         //.icon{
         //  margin: 0 auto;
         //}
       }
       .status-details{
        margin-left: 10px;
         h4 {
           font-weight: 800;
         }
         p {
           font-weight: 300;
           font-size: 0.8em;
         }
       }
     }
   }
  &.publish-buttons-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    .primary-action-button, .secondary-action-button {
      flex-grow: 1;
      width: 100%;
      margin: 10px;
    }
  }
}

