
    /* ========================================
   =========== Text Override ==========
   ======================================== */
   .is-muted{
       color: $grey-light !important;
   }

   a.is-muted:hover {
       color: $grey !important;
   }


   .navbar-item img {
    max-height: 4.9rem;
  }
   .nav {
    height: 6.5rem;
  }


